<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 16 Jun, 2023 -->
<%- include('partials/header') %>

    <%- include('partials/content', { topTitle: "Business Contact Lists" }) %>

    <div>
        <a href="/bizcontact/add" class="addContactButton">Add Contact</a>
        <a href="#" class="logoutButton" onclick="confirmLogout()">Logout</a>
    </div>

    <div class="Container">
        <table class="bizContactTable">
		    <thead>
			    <tr>
				    <th class="bizContactHeader">Contact Name</th>
				    <th class="bizContactHeader">Contact Number</th>
				    <th class="bizContactHeader">Email Address</th>
                    <th class="bizContactHeader">Edit</th>
			    </tr>
		    </thead>
		    <tbody>
			    <% contacts.forEach(function(contact) { %>
				    <tr>
					    <td><%= contact.contactName %></td>
					    <td><%= contact.contactPhone %></td>
					    <td><%= contact.email %></td>
					    <td>
                            <a href="/bizcontact/update/<%= contact._id %>" class="addContactButton">Update</a>
                            <a href="#" class="deleteContactButton" onclick="confirmDeleteContact('<%= contact._id %>', '<%= contact.contactName %>')">Delete</a>
                        </td>
			    	</tr>
			    <% }); %>
		    </tbody>
	    </table>
    </div>
    <br>

    <script>
        // Prompt confirmation before logout
        function confirmLogout() {
            let isConfirmLogout = confirm('Confirm Logout?');
            if (isConfirmLogout) {
                window.location.href = '/logout';
            }
        }

        // Prompt confirmation before deleting the selected contact record
        function confirmDeleteContact(contactId, contactName) {
            let isConfirmDelete = confirm('Confirm to delete contact record of <' + contactName + '>?');
            if (isConfirmDelete) {
                window.location.href = '/bizcontact/delete/' + contactId;
            }
        }
    </script>
      
<%- include('partials/footer') %>