<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 16 Jun, 2023 -->
<%- include('partials/header') %>

    <%- include('partials/content', { topTitle: "Update Business Contact" }) %>

    <div class="Container">
        <form action="/bizcontact/update/<%= contact._id %>" method="POST">
            <fieldset>
                <p>
                    <label for="contactName">Contact Name: </label>
                    <input id="contactName" name="contactName" size="25" type="text" value="<%= contact.contactName %>" required="required" tabindex="1">
                </p>
                <p>
                    <label for="contactPhone">Contact Phone: </label>
                    <input id="contactPhone" name="contactPhone" size="25" type="text" value="<%= contact.contactPhone %>" required="required" tabindex="3">
                </p>
                <p>
                    <label for="email">Email: </label>
                    <input id="email" name="email" size="35" type="text" value="<%= contact.email %>" required="required" tabindex="5">
                </p>
            </fieldset>
            <p>
                <input name="submitButton" type="submit" value="Update" tabindex="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </form>
    </div>
      
<%- include('partials/footer') %>